[Unit]
Description=Disposition Extraction API (Unsloth Backend)
After=network.target

[Service]
Type=simple
User=ubuntu
WorkingDirectory=/home/ubuntu/agent_disposition_model
Environment="PATH=/home/ubuntu/agent_disposition_model/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"

ExecStart=/home/ubuntu/agent_disposition_model/venv/bin/python api/app.py

Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
